<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>272110676227-cghiiivikc3tm1go62860stfdaqb4n64.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.272110676227-cghiiivikc3tm1go62860stfdaqb4n64</string>
	<key>API_KEY</key>
	<string>AIzaSyCghOMiMVxpeXL7VIb14851i6EHlik_9CA</string>
	<key>GCM_SENDER_ID</key>
	<string>272110676227</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.JohnKouris.DadJokes</string>
	<key>PROJECT_ID</key>
	<string>dadjokes-3fe30</string>
	<key>STORAGE_BUCKET</key>
	<string>dadjokes-3fe30.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:272110676227:ios:1cf17f37c6af58add86136</string>
	<key>DATABASE_URL</key>
	<string>https://dadjokes-3fe30.firebaseio.com</string>
</dict>
</plist>